$cinza-claro: #dedee6;
$pink: #E73959;
$stroke: #BDBDBD;

@mixin widthHeight($width){
    width: $width;
    height: 2.70rem;
}

*{
    font-family: "Inter", sans-serif;
}

.layout-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    flex-direction: column;
}

p{
    color: #999999;
    font-size: 14px;
    margin-bottom: 2.25rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
 
.cont-input{
    position: relative;
    display: inline-block;
    .img-input{
        position: absolute;
        left: 8px;
        top: 15px;
        pointer-events: none;
    }
    input{
        padding-left: 30px;
        border: 1px solid $cinza-claro;
        border-radius: 6px;
        @include widthHeight(21rem);
        outline: none;
        background: transparent; 
    }
    input::placeholder{
        color: $cinza-claro;
    }
}

.btn-form{
    @include widthHeight(23rem);
    color: white;
    background-color: $pink;
    border: none;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
    }
}